@font-face {
    font-family: "SSP";
    src: url("SSP.otf");
}

@font-face {
    font-family: "Strasua";
    src: url("Strasua.ttf");
}

html {
    height: 95%;
    background: #323232 url("bg.png");
    background-repeat: no-repeat;
}

body {
    font-family: "SSP", sans-serif;
    font-size: 16px;
    color: #fbb700;
    padding: 0px;
    height: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f76504;
}

a:visited {
    color: #f76504;
}

a:hover {
    color: #ffffff;
}

emph {
}

#Supercontainer {
    height: 100%;
    margin: auto;
    vertical-align: bottom;
    padding: 0px;
}

#BigBody {
    width: 800px;
    padding: 0px;
    margin: 0px;
    background: rgba(50, 50, 50, 0.8);
    border: 2px solid black;
}

#Header {
    padding: 0px;
    width: 800px;
}

#Header td {
}

#John {
    font-family: Strasua;
    font-size: 80px;
    color: #f76504;
}

#Anthony {
    font-family: Strasua;
    font-size: 80px;
    color: #fbb700;
}

#PermaLinks {
    text-align: right;
    list-style: none;
}

#Intro {
    padding: 15px;
    padding-bottom: 0px;
}

.BigNotice {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
