<% @posts.each do |p| %>
<div class="pblock">
  <div class="title"><%= p.title %></div>
  <div class="body">
    <%= p.body %>
  </div>
  <div class="footer"><%= p.created_at %></div>
</div>
<% end %>
