<!DOCTYPE html>
<html>
<head>
  <title>PersonalSiteRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <table id="Supercontainer"> <!-- This is a hack to get vertical centering -->
    <tr>
      <td>
        
        <table id="Header">
          <tr>
            <td>
              <span id="John">John</span><span id="Anthony">&nbsp;Anthony</span>
            </td>
            <td>
              <ul class="PermaLinks">
                <li><a href="mailto:john@jo.hnanthony.com">Email Me</a>&nbsp;::</li>
                <li><a href="public.key">Public Key</a>&nbsp;::</li>
                <li><a href="https://github.com/JohnAnthony">@Github</a>&nbsp;::</li>
              </ul>
            </td>
          </tr>
        </table>
        
        <%= yield %>
        
      </td>
    </tr>
  </table>
</body>
</html>
